@using OnlineTicariOtomasyon.Models.Class
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr> 
            <td>
                @item.CategoryName
            </td>
            <td><a href="/Category/KategoriSil/@item.CategoryID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Cat egory/KategoriGetir/@item.CategoryID" class="btn btn-outline-warning">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new {sayfa }))
<a href="/Category/KategoriEkle" class="btn btn-outline-success">Kategori Ekle</a>