@model OnlineTicariOtomasyon.Models.Class.Category
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Kategori Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x=>x.CategoryName)
    <p></p>
    @Html.TextBoxFor(x=>x.CategoryName, new {@class = "form-control"})
    <br />
    <button class="btn btn-outline-dark">Kaydet</button>
</form>
